            h1,h4,h5{
                color: blueviolet;
                border:4px solid blue;
                padding:10px;
            }
            h2{
                color:red;
                border:6px darkseagreen;
                padding: 20px;
                border-radius: 40px;;
            }
            h3{
                color: rosybrown;
                border:10px dotted black;
                padding: 20px;
                border-radius: 20px;
            }
            p{
                color: darkcyan;
                padding:10px;
                border:20px solid grey;
                border-radius: 20px;
                font-size: 30px;
            }